body {
  background-color: #eff0f0;
  font-size: $size-normal;
}
a {
  transition: all 400ms linear 0ms;
  &, &:hover, &:visited, &:link, &:focus {
    text-decoration: none;
    outline: none;
    outline-offset: 0;
  }

}