/*---- Colors -----*/

$green-logo: #00C57B;
$green-logo2: #65ab44;
$green-logo3: #58C56F;
$black-0: #333;
$black-1: #585858;

$size-sm: 14px;
$size-normal: 16px;


/*---- Break Points -----*/
$large-device:  "screen and (max-width : 992px)";
$tablet:        "screen and (max-width : 700px)";
$smart-phone:   "screen and (max-width : 480px)";
$small-device:  "screen and (max-width : 329px)";

$catalog-menu-width:  260px;
