-
    productList = [
        {
            name: 'Очень длиное название продукта примерно на три строки',
            price: 2000,
            bookmark: false,
            likes: 12
        }, {
            name: 'Большая цена',
            price: 8991230,
            bookmark: false,
            likes: 32
        }, {
            name: 'В избранном',
            price: 2035,
            bookmark: true,
            likes: 2893
        }, {
            name: 'Обычный товар',
            price: 125,
            bookmark: false,
            likes: 1
        }, {
            name: 'Товар без лайков',
            price: 865,
            bookmark: false,
            likes: 0
        }, {
            name: 'Название продукта на две строки',
            price: 2000,
            bookmark: false,
            likes: 12
        }
    ]