extend layouts/main

block title
    title Каталог
    
block content
    h1 Каталог
    .row
        include mixins/src/_productList
        include mixins/product
        for item in productList
            +product(item)
